<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/style.css">
  <script src="js/tmpl.js"></script>
  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script data-main="js/app" src="js/require.js"></script>

  <title>Document</title>
</head>
<body>
  <script type="text/template" id="mainPart">
    <div class="wrapper">
      <ul class="toDoList"></ul>
      <div class="controls">
        <input type="text" class="inpt" data-value="">
        <button type="button" class="btn" name="">Add</button>
      </div>
    </div>
  </script>
  <script type="text/template" id="item-list">
    <% for(let i = 0; i < data.length; i++) { %>
      <li> <%= data[i] %> <button data-value="<%= data[i] %>" type="button" class="removeItem">Del</button></li>
      <% }; %>
  </script>
</body>
</html>
