* {
	margin: 0;
	padding: 0;
}

body {
	background: url('../img/background.jpeg') left top repeat-x;
	font-family: Tahoma, sans-serif;
}

.wrapper {
	position: relative;
	max-width: 1000px;
	max-height: 985px;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	background-color: #fff;
	-webkit-box-shadow: 0px 3px 5px 1px rgba(50, 50, 50, 1);
	-moz-box-shadow: 0px 3px 5px 1px rgba(50, 50, 50, 1);
	box-shadow: 0px 3px 5px 1px rgba(50, 50, 50, 1);
}

.clearfix:after {
	content:' ';
	clear: both;
	display: block;
}

/* Header */

.logo {
	margin: 15px 0px -3px 29px;
}

.contacts {
	float: right;
	margin-right: 33px;
	margin-top: 9px;
	font-size: 12px;
	color: #2aadc2;
}

.countries {
	margin-top: 32px;
	float: right;
	clear: both;
}

.countries li {
	position: relative;
	float: left;
	list-style: none;
}

.countries a {
	display: block;
	margin-right: 15px;
	font-size: 9px;
	text-align: center;
	color: #2aadc2;
}

.india {
	width: 40px;
	padding-top: 44px;
	background: url(../img/flags/india.jpeg) center top no-repeat;
}

.nepal {
	width: 40px;
	padding-top: 44px;
	background: url(../img/flags/nepal.jpeg) center top no-repeat;
}

.tibet {
	width: 40px;
	padding-top: 44px;
	background: url(../img/flags/tibet.jpeg) center top no-repeat;
}

.butan {
	width: 40px;
	padding-top: 44px;
	background: url(../img/flags/butan.jpeg) center top no-repeat;
}

.sriLanka {
	width: 50px;
	padding-top: 44px;
	background: url(../img/flags/sri.jpeg) center top no-repeat;
}

.maldivi {
	width: 44px;
	padding-top: 44px;
	background: url(../img/flags/maldivi.jpeg) center top no-repeat;
}

.beach {
	display: inline-block;
	margin-bottom: -3px;
}

/* MENU */

.navbar {
	position: relative;
	height: 29px;
	border-bottom: 1px solid #000;
	background-color: #323232;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 1);
	-moz-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 1);
	box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 1);
	z-index: 1;
}

.menu li {
	position: relative;
	display: block;
	width: 13%;
	float: left;
	margin-left: 7px;
	line-height: 29px;
	list-style: none;
	text-align: center;
}

.triangle {
	background: url(../img/triangle.png) right center no-repeat;
}

.menu li:hover {
	background-color: #545454;
}

.menu a {
	display: inline-block;
	padding-right: 8px;
	padding-bottom: 2px;
	color: white;
	font-size: 14px;
	text-decoration: none;
}

.menu a:hover {
	text-decoration: underline;
}

.submenu {
	display: none;
	position: absolute;
	width: 123px;
	top: 29px;
	left: 0px;
	background-color: #323232;
	-webkit-box-shadow: 0px 3px 5px 1px rgba(50, 50, 50, 1);
	-moz-box-shadow: 0px 3px 5px 1px rgba(50, 50, 50, 1);
	box-shadow: 0px 3px 5px 1px rgba(50, 50, 50, 1);
	z-index: 1;
}

.submenu li {
	width: 123px;
	float: none;
}

.submenu a {
	display: block;
	margin-left: -7px;
	padding-left: 6px;
	background-color: #323232;
	color: #fff;
	font-size: 13px;
	font-weight: 100;
	text-decoration: none;
	text-align: left;
}

.submenu li a:hover {
	background-color: #545454;
}

ul.menu > li:hover > ul.submenu {
	display: block;
}

/* COLUMNS */

.column-left {
	position: relative;
	float: left;
	width: 208px;
	height: 543px;
	border-right: 1px solid #ccc;
	background-color: #fff;
	overflow: hidden;
}

.column-left h2,
.column-right h2 {
	padding: 8px 0px;
	text-align: center;
	font-size: 20px;
}

.column-left p,
.column-right p {
	padding: 0px 25px 10px 15px;
	font-size: 15px;
	font-weight: lighter;
}

.column-mid {
	position: relative;
	float: left;
	width: 582px;
	height: 543px;
	background-color: #fff;
	overflow: hidden;
}

.column-mid h2 {
	padding-top: 8px;
	font-size: 20px;
	text-align: center;
}

.column-mid p {
	padding: 8px 25px;
	font-size: 15px;
}

.column-right {
	position: relative;
	float: left;
	width: 208px;
	height: 543px;
	border-left: 1px solid #ccc;
	background-color: #fff;
	overflow: hidden;
}

/* FOOTER */

.footer {
	clear: both;
	width: 200px;
	margin: 9px auto;
	padding-top: 9px;
	color: #fff;
	font-size: 11px;
	font-weight: 100;
}

.footer a {
	color: #fff;
	text-decoration: none;
}