* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial;	
}

.fitness {
	background-color: #ffe;
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
	width: 80%;
	height:100%;
	margin: 1% auto;
	padding: 5%;
}

.header {
	font-size: 48px;	
}

.bar li {
	font-weight: 100;
	display: inline;
	list-style: none;	
	padding: 1% 3%;
}

.bar {
	background-color: #444;
	margin-top: 3%;
}

.bar li>a {
	font-size: 16px;
	display: inline-block;
	padding: 1.2%;
	text-decoration: none;
	color: white;
}

.bar li>a:hover {
	margin: 0%;
	padding: 1.2%;
	list-style: none;
	border-right: 1px solid white;
	border-left: 1px solid white;
	background-color: #123;
}

.sidebar {
	width: 23%;
	margin-top: 3%;
	float: left;
}

.sidebar ul>li {
	list-style: none;
}

.sidebar a {
	display: block;
	border: 1px solid #ccc;
	padding: 4% 7%;
	text-decoration: none;
	color: #777;
	font-size: 12px;
}

.sidebar a:hover {
	padding-left: 15%;
	color: black;
}

img {
	max-width: 640px;
	max-height: 380px;
	border: 1px solid #ccc;
	margin-top: 3%;
	margin-left: 6%;
}

.description {
	float: right;
	clear: both;
	font-size: 13px;
	font-weight: 100;
	line-height: 20px;
	color: #666;
	width: 570px;
	margin-top: 3%;
	margin-right: 7%; 
	margin-bottom: 5%;
}

.footer {
	background-color: #dedede;
	clear: both;
}

.footer li {
	padding: 1.2% 0% 1.2% 5%;
	display: inline-block;
	list-style: none;
}

.footer a {
	text-decoration: none;
	font-size: 12px;
	font-weight: 100;
	color: #444;
}

.footer a:hover {
	text-decoration: underline;
}

.copy {
	margin-left: 30%;
}