footer.footer
  .container
    .row.footer__row
      .d-flex.col-6.col-sm-4.col-md-4.col-lg-4.col-xl-4
        a.nav-link.pr-0.pl-0.active(href="main_role.html") Home
        a.nav-link.pr-0(href="gallery.html") Gallery
        a.nav-link.pr-0(href="contacts.html") Contacts
      .d-flex.col-6.offset-sm-4.col-sm-4.offset-md-4.col-md-4.offset-lg-4.col-lg-4.offset-xl-4.col-xl-4
        ul.social
          li.social__item.social__face: a.social__link
          li.social__item.social__vk: a.social__link
          li.social__item.social__twitter: a.social__link
          li.social__item.social__insta: a.social__link
          li.social__item.social__google: a.social__link