@require './var.styl'


.header
    font-family 'Arial'
    text-transform uppercase
    text-align center
    font-size 3rem
    color coolBlue

.btn
  display block
  width 80%
  margin 0 auto
  font-family 'Arial'
  text-transform uppercase
  color coolBlue
  font-size 2rem
  letter-spacing 8.8rem
  font-weight 700
  background-color #222222
  border none
  outline none
  cursor pointer
  
.barb
  img
    display block
    max-width 100%
    height auto

.news
  display block
  flex-wrap wrap
  width 100%
  margin-top 3rem
  font-family 'Oswald', sans-serif
.news__item
  position relative
  display block
  width 30%
  margin 1rem auto
  padding .5rem
  box-shadow 0px 1px 1px #000
  .title
    padding .5rem 1rem
    color #4444e0
    letter-spacing 1px
    text-transform uppercase
  .text
    display block
    margin .5rem .1rem 
    height 100px
    color #444555
  .more
    display block
    float right 
    margin .5rem
    color newsBlue
    text-transform uppercase
    border none
    outline none
    box-shadow 0 1px 1px #000000
    cursor pointer