form.form
  .container
    .form__block
      form(action="#")
      h2 Book a table
      label(for="firstName") Name
      input(type="text" id="firstName" name="name" placeholder="Enter your name")

      label(for="mobile") Telephone
      input(type="text" id="mobile" name="mobile" placeholder="Enter your telephone")

      label(for="info") Your wishes
      input(type="text" id="info" name="info" placeholder="Enter your wishes")

      input(type="submit" value="submit")

    .logo__name
      h1 Queso Víno y Jamón