header.header
  nav  
    a.logo(href="index.html")
      h3 Queso Víno y Jamón
    label(for="menu-mobile")
      .menu-mobile
      input(type="checkbox" id="menu-mobile")
      ul(id="menu").menu
        li.menu__item: a.menu__link(href="index.html") Home
        li.menu__item: a.menu__link(href="menu.html") Menu
        li.menu__item: a.menu__link(href="booking.html") Booking
        li.menu__item: a.menu__link(href="contacts.html") Contacts
  