@require 'var.styl'
@require 'media.styl'

*
  margin 0
  padding 0
  font-family 'Oswald', Arial, sans-serif
  text-decoration none
  box-sizing border-box

input, textarea
  -webkit-appearance none
  -webkit-border-radius 0


.header
  width 100%
  background-image url('../images/barb2.jpg');
  background-size cover
  background-position: 50% 0

.cita
  display flex
  flex-wrap wrap
  position relative
  font-family 'Oswald', Arial, sans-serif
  .cita__wrapper
    width 100%
    h1
      margin 2rem auto
      text-align center
    input
      display block
      margin 3rem auto
      padding 0rem 1rem
      font-family 'Oswald', sans-serif
      font-weight 200
      font-size 2rem
      text-transform uppercase
      border 1px solid #777
      background-color #ca2424
      box-shadow: 0px 3px 15px #777777
      cursor pointer
      outline none

    .modal
      display none
      position fixed
      top 0
      right 0
      bottom 0
      left 0
      margin auto
      width 300px
      height 400px
      background-color rgba(0, 0, 0, 0.7)
      z-index 10
      font-family 'Oswald', sans-serif
      color #ffffff
      h2
        display block
        width 100px
        margin 2rem auto
        color #ca2424
      form
        display grid
        align-items center

        input
          width 80%
          height 2rem
          margin 1rem auto
          padding 1rem
          font-size 1rem
          color #000000
          letter-spacing 5px
          background-color #ffffff
          border none
          box-shadow none
        ::placeholder
          color #000000
        .button
          font-style italic
          font-weight 700
          line-height 5px
          background-color #ca2424

.barbers
  display flex
  align-items: flex-end
  width 100%
  height auto
  margin 7rem auto
  padding 5rem 1rem 0rem
  background-image url('../images/bg-black.jpg')
  background-size: cover
  background-position: 50% 0

  .barber
    width 25%
    height auto 
    // margin 3rem auto 0.7rem
    color #ffffff
    font-family 'Oswald', Arial, sans-serif
    img 
      width 100%
      // height 30rem 
    h2
      display block
      margin 1rem auto
      text-align center
      // font-size 2.5rem
      font-weight 700
      text-shadow 0px 1px 5px #cccccc
    p
      text-align center
      // font-size 1.5rem
      font-weight 300

/////////////////////////////////////////////// G R I D

.gallery
  width 100%
  height auto
  padding 10rem 0
  background-image url('../images/bg-black.jpg')
  background-size: cover
  background-position: 50% 0

  h1
    color #ffffff
    text-align center
    margin-bottom 4rem
    text-transform uppercase
    font-weight 300
    letter-spacing 15px

  .container
    grid-template-columns repeat(3, 1fr)
    width 80%
    height 80vh
    margin 0 auto
    padding .5rem
    border 1px solid #ffffff
    // border-radius: 10px
    box-shadow: 0px 2px 15px red

    

  .container a
    display grid
    // .modal
      
    //   .close
    //     position absolute
    //     top 0
    //     right 3rem
    //     text-decoration none
    //     color #ffffff
    //     font-size 7rem
    //     transition color .4s ease 
    //     &:hover
    //       color #dddddd
    //       cursor pointer
    //   img
    //     display block
    //     width 90%
    //     max-width 70vw
    //     max-height 80vh
    //     // height 80%
    //     margin auto
    //   .date
    //     display block
    //     margin-top 1rem
    //     text-align center
    //     text-decoration none
    //     color #ffffff
    //     font-family 'Oswald', serif
    //     font-size 20px


    // &:nth-child(1)
    //   grid-column 1 / 3
    // &:nth-child(4)
    //   grid-column 2 / 4
    // &:nth-child(7)
    //   grid-column 3
    //   grid-row-start 3
    //   grid-row-end 5    


    .gallery__item
      position relative
      display grid
      align-content center
      // height auto
      margin 3px
      padding 3px
      background-size cover
      background-position 50% 50%
      color #ffffff
      transition color .5s ease
      cursor pointer
      &:hover
        color red
        &::before
          opacity .4
      &::before
        content ''
        position absolute
        top 0
        right 0
        bottom 0
        left 0
        background-color #555555
        opacity .2
        transition opacity .5s ease
      > *
        z-index 1
      
      span
        text-align center
        font-family 'Oswald', Arial, sans-serif
        text-transform uppercase
        font-weight 300
        letter-spacing: 3px

.news
  display flex
  flex-wrap wrap
  width 100%
  margin-top 3rem
  font-family 'Oswald', sans-serif
  .news__item
    height auto
    margin 1rem auto
    padding .5rem
    box-shadow 0px 1px 1px #000
    .title
      padding .5rem 1rem
      color #4444e0
      // font-size 2rem
      letter-spacing 1px
      text-transform uppercase
    .img__wrapper
      width 100%
      overflow hidden
      img
        width 100%
        height 100%
      
    .article
      margin .5rem .1rem 
      color #444444
    .more
      display block
      margin .5rem
      text-decoration none
      color #4444e0
      text-transform uppercase
      text-align right


.footer
  display block
  width 100%
  margin-top 5rem
  background-image url('../images/footer.jpg')
  background-size cover
  background-position 50% 0
  .quote
    display block
    width 80%
    margin 0 auto
    // padding-top 8rem
    font-family 'Oswald', sans-serif
    color #ffffff
    text-align center
    .text
      margin-bottom .5rem
      font-style italic
      font-weight 100
      letter-spacing 1px
      word-spacing 2px
    .author
      color #cccccc

