extends ../blocks/main_contacts

block content
  section.contacts
    h3 llamanos!
    hr
    span quesovino@gmail.com
    span +34 777 777 777
    .contacts__icons
      img(src="img/001-mobile-phone.svg")
      img(src="img/004-whatsapp.svg")
      img(src="img/005-viber.svg")
      img(src="img/015-facebook.svg")
      img(src="img/009-vk.svg")
