extends ../blocks/main_menu

block content
  section.title
    h1.title__title Our menu

  section.menu-card

    .card__item
      .dish__info
        h4 biff stake
        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa
        span.price $9,90
      .dish__img
        img(src="img/food/grill-main.jpg")
    .card__item
      .dish__info
        h4 biff sallad
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa
        span.price $9,90
      .dish__img
        img(src="img/food/beef.jpeg")
    .card__item
      .dish__info
        h4 burger
        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam
        span.price $9,90
      .dish__img
        img(src="img/food/burg.jpg")
    .card__item
      .dish__info
        h4 grill menu
        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum,
        span.price $9,90
      .dish__img
        img(src="img/food/fire.jpg")
    .card__item
      .dish__info
        h4 Lamb fillet
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia rem
        span.price $9,90
      .dish__img
        img(src="img/food/lamb.jpg")
    .card__item
      .dish__info
        h4 Pizza
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad sequi
        span.price $9,90
      .dish__img
        img(src="img/food/pizza.jpg")
    .card__item
      .dish__info
        h4 Pork fillet
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. delectus
        span.price $9,90
      .dish__img
        img(src="img/food/pork.jpg")
    .card__item
      .dish__info
        h4 Pork chop
        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti
        span.price $9,90
      .dish__img
        img(src="img/food/porkk.jpg")
    .card__item
      .dish__info
        h4 baked salmon
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut ab
        span.price $9,90
      .dish__img
        img(src="img/food/salmon.jpg")
    .card__item
      .dish__info
        h4 Kebab
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo
        span.price $9,90
      .dish__img
        img(src="img/food/shish.jpg")
    .card__item
      .dish__info
        h4 Creme soup
        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus
        span.price $9,90
      .dish__img
        img(src="img/food/soup.jpg")
    .card__item
      .dish__info
        h4 Spaghetti
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni
        span.price $9,90
      .dish__img
        img(src="img/food/spage.jpg")

