*
    margin 3px

.btn:active, .btn:focus
    outline none !important
    box-shadow none

h1, h3
    text-align center
    padding 1rem
    color #5656ff

.article__item
    width 50%

.date
    margin 2px