extends ../layout/main_contacts 

block content

  .container
    .row
      .col-12.col-sm-12.col-md-6.col-lg-4.col-xl-4.contacts.mt-5.ml-3
        h3 contact us
        hr
        p.telephone.m-1 555-555-555
        p.telephone.m-1 555-555-555
        p.telephone.m-1 555-555-555
        p.skype.m-1 a.popov
        .connect
          .cell.whatsapp
          .cell.viber
          .cell.messenger
    .row
      .col-12.col-sm-12.col-md-12.col-lg-10.col-xl-10.map.mt-5.ml-3
        h4 how to get
        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero quibusdam ea harum ullam, corporis qui illum nostrum consequuntur dolore debitis dicta obcaecati nulla blanditiis laboriosam odit officia? Excepturi, totam voluptatem?
        hr
    .row
      .col-12.col-md-12.col-sm-8.mb-5.ml-3
        img.img__map(src="img/map.jpg")