extends ../layout/main_gallery

block content
  .container
    .row
      .col-12.col-sm-12.col-md-8.col-lg-8.col-xl-8.main
        h3 Lorem ipsum dolor
        hr
        p Sit amet consectetur adipisicing elit. Totam quasi at recusandae minus quam tempora expedita asperiores, excepturi sit explicabo aspernatur itaque veritatis, distinctio aliquam ut? Libero ullam dicta tempora. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit libero ut, nisi, tenetur natus a expedita nobis, quasi dolore consequuntur beatae aut doloribus incidunt. Iste, ratione ad. Consequatur, corrupti quisquam! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis iure alias quidem cumque, numquam amet, fuga illum libero suscipit doloribus ut laudantium quaerat omnis nam nihil! Delectus possimus similique quos.

      .col-md-3.col-lg-3.col-xl-3.aside.ml-auto
        img.constructor(src="img/gerente-orbas.jpg")
        h5.m-1 Alexander Popov
        p.telephone.m-1 555-555-555
        p.skype.m-1 a.popov
        .connect
          .cell.whatsapp
          .cell.viber
          .cell.messenger
    
    
    .row.mb-5
      .col-12.col-md-12
        .row.d-flex.flex-wrap.cont-light
          a.col-12.col-sm-6.col-md-4.col-lg-3.col-xl-3(href="img/california.jpg" data-toggle="lightbox" data-gallery="example-gallery")
            img.box.img-fluid(src="img/california.jpg")

          a.col-12.col-sm-6.col-md-4.col-lg-3.col-xl-3(href="img/california2.jpg" data-toggle="lightbox" data-gallery="example-gallery")
            img.box.img-fluid(src="img/california2.jpg")
            
          a.col-12.col-sm-6.col-md-4.col-lg-3.col-xl-3(href="img/california3.jpg" data-toggle="lightbox" data-gallery="example-gallery")
            img.box.img-fluid(src="img/california3.jpg")
          
          a.col-12.col-sm-6.col-md-4.col-lg-3.col-xl-3(href="img/california4.jpg" data-toggle="lightbox" data-gallery="example-gallery")
            img.box.img-fluid(src="img/california4.jpg")
            
          a.col-12.col-sm-6.col-md-4.col-lg-3.col-xl-3(href="img/california5.jpg" data-toggle="lightbox" data-gallery="example-gallery")
            img.box.img-fluid(src="img/california5.jpg")

          a.col-12.col-sm-6.col-md-4.col-lg-3.col-xl-3(href="img/california6.jpg" data-toggle="lightbox" data-gallery="example-gallery")
            img.box.img-fluid(src="img/california6.jpg")

          a.col-12.col-sm-6.col-md-4.col-lg-3.col-xl-3(href="img/california.jpg" data-toggle="lightbox" data-gallery="example-gallery")
            img.box.img-fluid(src="img/california.jpg")

          a.col-12.col-sm-6.col-md-4.col-lg-3.col-xl-3(href="img/california2.jpg" data-toggle="lightbox" data-gallery="example-gallery")
            img.box.img-fluid(src="img/california2.jpg")
            
            