extends ../layout/main

block content
  .jumbotron-fluid.mb-0.p-4
    .container-fluid
      .row
        .col-12.offset-md-4.col-md-8.offset-xl-6.col-xl-6.jumbo-flex
          h1.display-5.title Reformas de hogar
          p.text Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur commodi harum quaerat tempora laborum et, pariatur perferendis dicta nihil ullam earum iusto nesciunt temporibus illum expedita non, id, explicabo odio.
          a.btn.btn-secondary.btn-lg.jumboBtn(href="#" role="button") Learn more
  .container-fluid.container__proud
    .row.no-gutters
      h3.flex-element.proud__title Our proud
    .row.no-gutters
      .containerFlex
        .col-12.col-sm-5.col-md-5.col-lg-3.col-xl-3.ourProud
          img.ourProud1(src='img/house1.jpg')
          h4.title proud 1
          p.text Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, fugiat. Fugiat itaque doloremque quaerat eius dolores cum explicabo nihil quos impedit doloribus veniam autem laboriosam architecto eum optio, officiis cumque.
          a.btn.btn-outline-primary(href="#" role="button") read more
        .col-12.col-sm-5.col-md-5.col-lg-3.col-xl-3.ourProud
          img.ourProud1(src='img/house2.jpg')
          h4.title proud 2
          p.text Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit sunt ab nihil illo vel a vitae error, quo, itaque est illum commodi facilis architecto iste numquam fuga quaerat voluptatum consectetur.
          a.btn.btn-outline-primary(href="#" role="button") read more
        .col-12.col-sm-5.col-md-5.col-lg-3.col-xl-3.ourProud
          img.ourProud1(src='img/spainhouse.jpg')
          h4.title proud 3
          p.text Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa quasi eveniet enim illum temporibus, cumque incidunt doloremque nesciunt maxime atque fugit impedit quod, nostrum blanditiis fugiat fuga. Quis, explicabo esse.
          a.btn.btn-outline-primary(href="#" role="button") read more
    .row
      .col-12.col-sm-4.col-md-4.col-lg-4.col-xl-4
        .advantage
          img(src="img/001-money.svg")
          .info
            h5.mb-0 best price
            p Lorem ipsum dolor sit amet consectetur adipisicing elit
      .col-12.col-sm-4.col-md-4.col-lg-4.col-xl-4
        .advantage
          img(src="img/005-chronometers.svg")
          .info
            h5.mb-0 time saving
            p Numquam minima nisi, porro beatae deleniti necessitatibus
      .col-12.col-sm-4.col-md-4.col-lg-4.col-xl-4
        .advantage
          img(src="img/003-recommended-1.svg")
          .info
            h5.mb-0 garanted quality
            p  Unde fugiat quisquam perspiciatis voluptate accusantium

    
  