@font-face {
  font-family: 'League Gothic Regular';
  src: url('../fonts/leaguegothic-regular-webfont.woff2') format('woff2'),
       url('../fonts/leaguegothic-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

/* GLOBAL */

.wrapper {
  position: relative;
  margin: 0 auto;
  min-width: 320px;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

/* HEADER */

.header {
  padding-bottom: 160px;
  border-bottom: 1px solid #35273c;
  background: url(../img/header_bg.jpg) 50% 0;
  background-size: cover;
}

.logo {
  display: block;
  width: 152px;
  padding-top: 70px;
  margin: 0 auto;
}

.logo__image {
  display: block;
}

.menu-wrapper {
  position: relative;
  margin-top: 22px;
}

.menu {
  position: relative;
  display: none;
  list-style: none;
  overflow: hidden;
}

.menu__item {
  float: left;
  margin-right: 5px;
}

.menu--mobile {
  border: 1px solid #051116;
  border-radius: 8px;
  background: rgba(54, 41, 62, 0.9);
  text-align: center;
}

.menu--mobile .menu__item {
  margin-right: 0;
  float: none;
  border-top: 1px solid #523f5a;
  border-bottom: 1px solid #36283e;
}

.menu--mobile .menu__item:hover {
  background: rgba(0, 0, 0, 0.3);
}

.menu__item:first-child {
  border-top: none;
}

.menu__item:last-child {
  border-bottom: none;
}

.menu__item--current .menu__link:hover {
  border-bottom: 2px solid #edbfff;
  text-shadow: 0 0 10px rgb(255, 255, 255);
}

.menu__link {
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

.menu__link,
.current-page__link {
  padding: 0 6px;
  color: #fff;
  font-family: 'League Gothic Regular', Arial, sans-serif;
  font-size: 24px;
  line-height: 39px;
  text-decoration: none;
  text-transform: uppercase;
}
.current-page {
  padding-top: 1px;
  text-align: center;
}
.current-page__link {
  border-bottom: 2px solid #edbfff;
}

.menu__link:hover {
  border-bottom: 2px solid #edbfff;
  text-shadow: 0 0 10px rgb(255, 255, 255);
}

.menu-wrapper:hover .menu {
  display: block;
}

.menu-wrapper:hover .current-page__link {
  opacity: 0;
}

/* SLIDER */

.slider {
  position: relative;
  margin-top: 115px;
  padding: 0 25px;
  background-color: rgba(0, 0, 0, 0.2);
  font-family: 'League Gothic Regular', Arial, sans-serif;
  text-align: left;
}

.slider__item {
  position: relative;
  margin: 0 15px;
  padding: 87px 31px 91px;
  text-shadow: 0 1px 1px rgb(0, 0, 0);
}
.slider__text1 {
  font-size: 34px;
  color: #fefefe;
}

.slider__text2 {
  color: #edbfff;
  font-size: 18px;
  text-transform: uppercase;
}

.slider__text3 {
  display: block;
  width: 275px;
  color: #fff;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 16px;
  line-height: 30px;
}

.slider__iphone {
  position: absolute;
  top: -10px;
  right: 0;
  padding-right: 35px;
}

.slider__arrow {
  position: absolute;
  top: 50%;
  width: 30px;
  height: 42px;
  margin-top: -21px;
  background: url(../img/arrows.png) 0 0 no-repeat;
}

.slider__arrow--left {
  left: 0;
}

.slider__arrow--right {
  right: 0;
  background-position: -31px 0;
}

.slider__buttons {
  position: absolute;
  bottom: -91px;
  width: 100%;
  margin-left: -25px;
  list-style: none;
  text-align: center;
}

.slider__buttons li {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0 1px;
  border-radius: 100%;
  background: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.slider__buttons li.current:before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  margin: 3px;
  border-radius: 100%;
  background: #fff;
}

/*   ABOUT-SECTION   */

.about-section {
  position: relative;
  padding: 66px 0 40px;
  border-bottom: 1px solid #12191f;
  background: rgba(118,82,131,1);
  background: -moz-linear-gradient(top, rgba(118,82,131,1) 0%, rgba(55,42,62,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(118,82,131,1)), color-stop(100%, rgba(55,42,62,1)));
  background: -webkit-linear-gradient(top, rgba(118,82,131,1) 0%, rgba(55,42,62,1) 100%);
  background: -o-linear-gradient(top, rgba(118,82,131,1) 0%, rgba(55,42,62,1) 100%);
  background: -ms-linear-gradient(top, rgba(118,82,131,1) 0%, rgba(55,42,62,1) 100%);
  background: linear-gradient(to bottom, rgba(118,82,131,1) 0%, rgba(55,42,62,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#765283', endColorstr='#372a3e', GradientType=0 );
  overflow: hidden;
}

.about {
  position: relative;
  margin: 0 14px 22px;
  padding-left: 60px;
  color: #fff;
  font-family: 'League Gothic Regular', Arial, sans-serif;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

.about__title {
  font-size: 24px;
  font-weight: normal;
  text-transform: uppercase;
}

.about__text {
  font-size: 16px;
  font-family: 'Open Sans', Arial, sans-serif;
}

.about__link {
  float: right;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}

.about__link:hover {
  text-shadow: 0 0 10px rgb(255, 255, 255);
}

.about:before {
  content: '';
  position: absolute;
  left: 0;
  top: 10px;
  height: 31px;
  width: 28px;
  background: url(../img/sprite.png) 0 0 no-repeat;
}

.about--settings:before {
  width: 28px;
}

.about--talk:before {
  width: 33px;
  background-position: -29px 0;
}

.about--music:before {
  width: 29px;
  background-position: -63px 0;
}

/*  DESCRIPTION  */

.description {
  position: relative;
  padding-bottom: 90px;
  border-bottom: 1px solid #e6e6e6;
  background-color: #f9f9f9;
  overflow: hidden;
}

/*  slider--content  */

.slider--content {
  margin-top: 0;
  padding: 67px 20px 0;
  background-color: #f9f9f9;
}

.slider--content .slider__item {
  position: relative;
  margin: 0 0 0 24px;
  padding: 24px 30px 30px 36px;
  background: #fff;
  text-shadow: 0.5px 0.9px 0 #fff;
}

.slider--content .slider__buttons {
  position: relative;
  bottom: auto;
  margin-top: 23px;
  margin-left: 13px;
}

.slider--content .slider__buttons li {
  border: 1px solid #e8e8e8;
  background-color: #fff;
}

.slider--content .slider__buttons li:before {
  background-color: #333;
}

.slider--content .slider__image {
  position: absolute;
  top: 18px;
  left: -25px;
}

.slider__title {
  color: #454545;
  font-size: 24px;
  font-family: 'League Gothic Regular', Arial, sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  line-height: 24px;
}

.slider__title span {
  display: block;
  color: #edbfff;
}

.slider--content .slider__text {
  margin-top: 5px;
  color: #454545;
  font-family: 'Open Sans', Arial, sans-serif;
}

  /*  updates  */

.updates {
  margin-top: 50px;
}

.updates__title {
  margin-bottom: 20px;
  color: #454545;
  font-family: 'League Gothic Regular', Arial, sans-serif;
  font-size: 30px;
  font-weight: normal;
  text-transform: uppercase;
}

.updates__item {
  margin-bottom: 16px;
  text-shadow: 0.5px 0.9px 0 #fff;
}

.updates__image {
  float: left;
  margin-right: 17px;
}

.updates__subtitle,
.updates__info {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 16px;
}

.updates__subtitle {
  font-weight: bold;
  letter-spacing: 0.3px;
}

.updates__info {
  letter-spacing: -0.15px;
}

.updates__link {
  float: right;
  color: #454545;
  font-family: 'League Gothic Regular', Arial, sans-serif;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

/*  SPONSORS  */

.sponsors {
  padding-top: 50px;
  border-top: 1px solid #fefefe;
  background-color: #f9f9f9;
}

.sponsors__item {
  display: block;
  float: left;
  width: 30%;
  margin-bottom: 58px;
  text-align: center;
}


/*  PREFOOTER  */

.prefooter {
  padding: 100px 0 90px;
  background-color: #ececec;
}

.category {
  margin-bottom: 54px;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 1);
}

.category__title {
  margin-bottom: 10px;
  color: #454545;
  font-family: 'League Gothic Regular', Arial, sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: normal;
}

.category__text {
  color: #787878;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 16px;
}

/*  FOOTER  */

.footer {
  height: 200px;
  background: url(../img/footer_bg.jpg) 50% 0 no-repeat;
  background-size: cover;
}

.menu--footer {
  display: block;
}

.copyrights {
  padding-top: 40px;
  color: #fff;
  font-size: 12px;
  font-family: 'Open Sans', Arial, sans-serif;
  text-align: center;
  text-shadow: 0 1px 1px rgb(0, 0, 0);
}

.copyrights__link {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}


/*  MEDIA   */


@media (max-width: 479px) {
  .wrapper {
    width: 320px;
  }

  .header {
    padding-bottom: 87px;
  }

  .current-page {
    padding-top: 7px;
  }

  .menu--mobile {
    position: absolute;
    top: 7px;
    left: 15%;
    right: 15%;
    z-index: 1;
  }

  /*  SLIDER--TOP  */

  .slider--top {
    background: none;
  }

  .slider--top .slider__item {
    padding: 2px 31px 74px 50px;
  }

  .slider__text1 {
    margin-bottom: -2px;
    letter-spacing: 0.5px;
  }

  .slider__text3 {
    display: none;
  }

  .slider__iphone {
    display: none;
  }

  .slider__arrow--left {
    top: 34px;
    left: -4px;
  }

  .slider__arrow--right {
    top: 34px;
    right: -5px;
  }

  .slider--top .slider__buttons {
    bottom: -23px;
    left: 30px;
  }

  /*  ABOUT-SECTION  */

  .about-section {
    padding: 19px 0 0;
  }

  .about {
    margin: 0 23px;
  }

  .about__text {
    line-height: 24px;
  }

  .about:before {
    top: 4px;
    left: 6px;
  }

  .updates__link--full {
    display: none;
  }

  .updates__link--mobile {
    font-size: 18px;
  }

  /*  DESCRIPTION  */

  .description {
    padding-bottom: 86px;
  }

  .slider--content .slider__item {
    margin: 5px 0 0 24px;
    padding-bottom: 0;
  }

  .slider__text {
    margin-top: 5px;
    margin-left: 3px;
    line-height: 24px;
  }

  .slider--content .slider__buttons {
    bottom: 21px;
    left: 11px;
  }

  .updates {
    margin: 19px 0 0 20px;
  }

  .updates__title {
    margin-bottom: -6px;
  }

  .updates__item {
    margin-top: 19px;
  }

  .updates__info {
    margin-top: 2px;
  }

  .updates__link--mobile {
    margin-right: 25px;
  }

  /*  SPONSORS  */

  .sponsors .wrapper {
    width: 320px;
  }

  .sponsors__item {
    display: flex;
    justify-content: center;
    width: 50%;
    margin-bottom: 62px;
  }

  .sponsors__item--vonzipper {
    margin-top: -87px;
  }

  /*  PREFOOTER  */

  .prefooter {
    display: none;
  }

  /*  FOOTER  */

  .menu--footer {
    display: none;
  }

  .copyrights {
    margin-left: -1px;
  }
}

/*  MEDIA 480 - 767PX  */

@media (min-width: 480px) and (max-width: 767px) {
  .wrapper {
    width: 480px;
  }

  .header {
    padding-bottom: 99px;
  }

  .current-page {
    padding-top: 6px;
  }

  .slider--top {
    height: 246px;
    margin-top: 26px;
  }

  .slider--top .slider__item {
    margin: 0 9px;
    padding-top: 90px;
  }

  .slider__text1 {
    letter-spacing: 0.5px;
  }

  .slider__text3 {
    display: none;
  }

  .slider__iphone {
    height: 304px;
    right: -4px;
  }

  .slider__arrow--left {
    left: -3px;
  }

  .slider__arrow--right {
    right: -6px;
  }

  .slider__buttons {
    bottom: -43px;
    margin-left: -20px;
  }

  .slider__buttons li {
    margin: 0 2px;
  }

  .menu--mobile {
    position: absolute;
    top: 6px;
    left: 25%;
    right: 25%;
    z-index: 1;
  }

  .about-section {
    padding-bottom: 67px;
  }

  .about-section .wrapper {
    padding-top: 8px;
  }

  .about__text {
    line-height: 24px;
    letter-spacing: -0.03px;
  }

  .about__link {
    font-size: 19px;
    letter-spacing: -0.3px;
  }

  .about--settings {
    margin: 0 15px 0 23px;
  }

  .about:before {
    top: 4px;
    left: 7px;
  }

  .about__link {
    margin: 14px 12px 0 0;
  }

  .about--talk {
    margin: 19px 15px 0 23px;
  }

  .about--music {
    margin: 23px 15px 0 23px;
  }

    /*  DESCRIPTION CLASS */

  .description {
    padding-bottom: 93px;
  }

  .slider--content {
    padding-top: 69px;
  }

  .slider__title {
    font-size: 29px;
    margin: 7px 0 0 2px;
    letter-spacing: 0.2px;
  }

  .slider__title span {
    float: right;
    margin-right: 139px;
  }

  .slider--content .slider__text {
    margin-top: 18px;
    line-height: 24px;
  }

  .slider--content .slider__buttons {
    margin-top: 73px;
  }

  .slider--content .slider__buttons {
    margin-top: 73px;
    margin-left: 6px;
  }

  .slider--content .slider__buttons li {
    margin: 0 1px;
  }

  .updates {
    padding: 0 67px;
    margin: 40px 0 0 15px;
  }

  .updates__item {
    margin-top: -5px;
    margin-bottom: 23px;
  }

  .updates__link--mobile {
    margin: -7px;
  }

  .updates__link--full {
    display: none;
  }

  .sponsors {
    margin-bottom: -5px;
  }

  .sponsors__item {
    width: auto;
    margin: -14px -19px 39px 76px;
  }

  .sponsors__item--rvca {
    padding-top: 18px;
  }
  /*  CATEGORIES  */

  .prefooter {
    padding: 76px 0 31px;
  }

  .category--shown {
    display: none;
  }

  .category--last {
    display: block;
    padding: 1px 18px 4px;
  }

  .category--hidden {
    padding: 0 18px 1px;
  }

  .category__text {
    line-height: 23px;
  }

  /*  FOOTER  */

  .menu--footer {
    padding: 36px 0 0 5px;
  }

  .menu--footer .menu__item {
    margin-left: 10px;
  }

  .menu--footer .menu__link {
    font-size: 19px;
  }

  .copyrights {
    padding: 25px;
  }

}

    /*  MEDIA 768 - 959  PX  */

@media (min-width: 768px) and (max-width: 959px) {
  .wrapper {
    width: 768px;
  }

  .header {
    padding-bottom: 155px;
  }

  .logo {
    margin-bottom: 26px;
    margin-left: 6px;
  }

  .current-page {
    display: none;
  }
  .menu {
    display: block;
  }
  .menu--mobile {
    border-style: none;
    background: none;
  }
  .menu .menu__item {
    float: left;
    margin-right: 40px;
    border-style: none;
  }

  .menu .menu__item:hover {
    background: none;
  }

  .menu .menu__link {
    text-shadow: 0 1px 1px rgb(0, 0, 0);
  }

  .menu .menu__link:hover {
    text-shadow: 0 0 10px rgb(255, 255, 255);
  }

  .slider--top {
    margin-top: 71px;
  }

  .slider__item {
    margin-left: -1px;
    padding-top: 91px;
    padding-bottom: 66px;
  }

  .slider__text1 {
    font-size: 48px;
    letter-spacing: -0.3px;
  }

  .slider__text2 {
    padding-top: 3px;
    font-size: 24px;
  }

  .slider__text3 {
    width: 270px;
    font-size: 16px;
  }

  .slider__iphone {
    top: -24px;
    right: 25px;
  }

  .slider__arrow--left {
    top: 199px;
    left: -18px;
  }

  .slider__arrow--right {
    top: 199px;
    right: 7px;
  }

  .slider__buttons {
    margin-left: 161px;
  }

  .slider__buttons li {
    margin: 32px 1.7px;
  }

  .about-section {
    padding-bottom: 13px;
  }

  .about {
    width: 21%;
    float: left;
    margin-bottom: 20px;
  }

  .about:before {
    top: 4px;
    left: 6px;
  }

  .about__link {
    margin: 2px 15px 0 0;
    font-size: 19px;
    letter-spacing: -0.25px;
  }

  .about--settings {
    margin: 8px 9px 0;
  }

  .about__title {
    letter-spacing: -0.1px;
  }

  .about__text {
    line-height: 25px;
  }

  .about__link:hover {
    text-shadow: 0 0 10px rgb(255, 255, 255);
  }

  .about--talk {
    margin: 9px 0 0 21px;
  }

  .about--music {
    margin: 9px 0 0 31px;
  }

  .about--music:before {
    top: 4px;
    left: 19px;
  }

  .about--music .about__title {
    margin-left: 10px;
  }

  .about--music .about__text {
    margin-left: 7px;
  }

  .about--music .about__link {
    margin: 2px 6px 0 0;
    font-size: 19px;
    letter-spacing: -0.25px;
  }

  .description {
    padding-bottom: 45px;
  }

  .slider--content {
    width: 44%;
    float: left;
    margin-left: -15px;
    padding-right: 0;
  }

  .slider--content .slider__item {
    margin-top: 33px;
    padding-bottom: 19px;
  }

  .slider--content .slider__title {
    margin: 5px 3px 9px;
  }

  .slider--content .slider__text {
    margin-left: 2px;
    line-height: 24px;
  }

  .slider--content .slider__buttons {
    margin: -9px 9px;
  }

  .slider--content .slider__buttons li {
    margin-right: -1px;
  }

  .updates {
    float: right;
    width: 45%;
    padding-top: 69px;
    margin-right: 23px;
  }

  .updates__title {
    margin-top: 7px;
  }

  .updates__item {
    margin: -7px 0 25px;
  }

  .updates__link--full {
    display: none;
  }

  .updates__link--mobile {
    margin: -8px 19px;
  }

  .sponsors {
    padding: 26px 0 4px;
  }

  .sponsors__item {
    width: 16%;
    margin: 0 24px 20px -19px;
  }

  .sponsors__item--rvca {
    padding-top: 20px;
  }

      /*  CATEGORY  */
  .prefooter {
    padding: 100px 0 0;
  }

  .prefooter .wrapper {
    margin-left: 5px;
  }

  .category {
    float: left;
    width: 190px;
    margin-left: 27px;
  }

  .category--last {
    margin-left: 75px;
    margin-top: -1px;
  }

  .category--shown {
    display: none;
  }

  .category--shown--3 {
    display: block;
  }

  .category__title {
    margin-bottom: 8px;
    margin-left: 6px;
  }

  .category__text {
    line-height: 23px;
    margin-left: 6px;
  }

  .footer {
    margin-top: -24px;
  }

  .menu--footer {
    position: absolute;
    left: -20px;
    padding: 37px 0 44px 20px;
  }

  .menu--footer .menu__item {
    margin-right: 31px;
  }

  .menu--footer .menu__link {
    font-size: 20px;
  }

  .copyrights {
    position: absolute;
    right: 37px;
    top: 60px;
  }
}

    /*  MEDIA 960  */

@media (min-width: 960px) {
  .wrapper {
    width: 960px;
  }

  .header {
    padding-bottom: 167px;
  }

  .logo {
    margin-left: 0;
  }

  .current-page {
    display: none;
  }
  .menu--mobile {
    display: block;
    position: absolute;
    top: -64px;
    right: 8px;
    border-style: none;
    background: none;
  }

  .menu .menu__item {
    float: left;
    margin-left: 42px;
    margin-right: -4px;
    border-style: none;
  }

  .menu .menu__item:hover {
    background: none;
  }

  .menu .menu__link {
    text-shadow: 0 1px 1px rgb(0, 0, 0);
  }

  .menu .menu__link:hover {
    text-shadow: 0 0 10px rgb(255, 255, 255);
  }

  .slider .slider--top {

  }

  .slider--top {
    height: 401px;
    margin-top: 169px;
  }

  .slider--top .slider__item {
    margin-left: 0px;
    padding: 71px 0 91px;
    letter-spacing: -0.48px;
  }

  .slider--top .slider__text1 {
    font-size: 60px;
  }

  .slider--top .slider__text2 {
    font-size: 32px;
    line-height: 20px;
    letter-spacing: -0.05px;
  }

  .slider--top .slider__text3 {
    width: 500px;
    padding-top: 11px;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.05px;
  }

  .slider__iphone {
    top: -17px;
    right: 35px;
  }

  .slider__arrow--left {
    left: -60px;
  }

  .slider__buttons {
    margin-left: 247px;
  }

  .slider__buttons li {
    margin: -23px 1.7px;
  }

  .about {
    float: left;
    width: 24%;
    padding-left: 38px;
  }

  .about:before {
    left: -15px;
  }

  .about__title {
    margin-bottom: 5px;
    font-size: 29px;
    letter-spacing: 0.35px;
  }

  .about__text {
    line-height: 24px;
    letter-spacing: -0.1px;
  }

  .about--settings {
    margin: 8px 25px 26px;
  }

  .about--settings .about__link {
    margin: 17px 14px 0 0;
    font-size: 19px;
    letter-spacing: -0.25px;
  }

  .about__link:hover {
    text-shadow: 0 0 10px rgb(255, 255, 255);
  }

  .about--talk {
    margin: 8px 0 0 46px;
  }

  .about--talk .about__link {
    margin: 17px 11px 0 0;
    font-size: 19px;
    letter-spacing: -0.25px;
  }

  .about--music {
    margin: 8px 0 0 58px;
  }

  .about--music:before {
    left: -3px;
  }

  .about--music .about__title {
    margin-left: 10px;
  }

  .about--music .about__text {
    margin-left: 7px;
  }

  .about--music .about__link {
    margin: 17px 1px 0 0;
    font-size: 19px;
    letter-spacing: -0.25px;
  }

  .description .slider {
    width: 45%;
    float: left;
    margin: 33px 0 0 -19px;
  }

  .slider--content .slider__item {
    padding: 32px 30px 30px 38px;
  }

  .slider__title {
    font-size: 29px;
    letter-spacing: 0.3px;
  }

  .slider__title span {
    display: inline;
  }

  .slider--content .slider__text {
    margin-top: 13px;
    line-height: 24px;
    letter-spacing: -0.1px;
  }

  .slider--content .slider__buttons {
    margin: 8px 0 0 20px;
  }

  .slider--content .slider__buttons li {
    margin-right: 0;
  }

  .updates {
    width: 45%;
    padding-top: 76px;
    float: right;
  }

  .updates__item {
    margin: 16px 0 0 -16px;
  }

  .updates__title {
    font-size: 29px;
    margin-left: -18px;
    margin-bottom: 0;
  }

  .updates__link--mobile {
    display: none;
  }

  .updates__link {
    margin: 19px 20px 0 0;
    letter-spacing: 0.1px;
  }

  .sponsors {
    padding-top: 22px;
    margin-left: -24px;
  }

  .sponsors .wrapper {
    width: 960px;
    padding-left: 186px;
  }
  .sponsors__item {
    width: auto;
    margin: 0 66px 25px 1px;
  }

  .sponsors__item--rvca {
    padding-top: 22px;
  }

  .prefooter {
    padding-bottom: 41px;
  }

  .category {
    float: left;
    width: 300px;
    line-height: 24px;
  }

  .category__title {
    font-size: 29px;
    letter-spacing: 0.3px;
  }

  .category__copyright {
    padding: 8px 0 4px;
  }

  .category--shown--2 {
    padding-left: 38px;
  }

  .category--shown--3 {
    width: 270px;
    padding-left: 40px;
  }

  .category--shown--2,
  .category--shown--3,
  .category--hidden {
    padding-top: 2px;
  }

  .category--hidden {
    display: none;
  }

  .menu--footer {
    padding: 36px 0 44px 0;
  }

  .menu--footer .menu__link {
    font-size: 19px;
  }

  .menu--footer .menu__item {
    margin-left: -6px;
    margin-right: 39px;
  }

  .copyrights {
    position: absolute;
    right: 1px;
    bottom: 52px;
  }
}
