* {
  margin: 0;
  padding: 0; }

.wrapper {
  position: relative;
  display: block;
  width: 1160px;
  margin: 0 auto;
  overflow: hidden; }

.header {
  padding-top: 30px; }

.social {
  position: relative;
  float: right;
  margin-top: -35px; }
  .social .social__item {
    float: left;
    list-style: none;
    margin-right: 12px; }
    .social .social__item .social__link {
      display: block;
      width: 16px;
      height: 17px;
      background-image: url(../img/social-sprite.png);
      text-decoration: none; }

.social--fb {
  background-position: 1px 0; }

.social--twitter {
  background-position: 74px 0; }

.social--rsa {
  background-position: 55px 0; }

.social--linked {
  background-position: 36px 0; }

.social--skype {
  background-position: 17px -2px; }

.menu {
  position: relative;
  display: block;
  height: 50px;
  background-color: #2a2d32; }
  .menu .menu__item {
    float: left;
    width: 125px;
    list-style: none;
    border-right: 1px solid #181a1d; }
    .menu .menu__item .menu__link {
      margin-left: 45px;
      line-height: 50px;
      font-family: 'Ubuntu Condensed', sans-serif;
      font-size: 14px;
      color: #fff;
      text-decoration: none;
      text-transform: uppercase; }
    .menu .menu__item .menu__link:hover {
      color: #ffcc00; }
    .menu .menu__item .menu__item:focus {
      background-color: #3399ff; }

.search {
  display: block;
  padding: 0 12px;
  position: absolute;
  top: 8px;
  right: 7px;
  width: 235px;
  height: 35px;
  font-size: 14px;
  background-color: #35383c;
  border: 1px solid #181a1d; }

.slider {
  margin: 40px auto 20px; }

.mySlides {
  display: none; }

.mySlides + img {
  width: 1160px;
  height: 469px; }

.w3-left, .w3-right, .w3-badge {
  cursor: pointer; }

.w3-badge {
  height: 13px;
  width: 13px;
  padding: 0; }

.categories__item {
  position: relative;
  float: left;
  width: 340px;
  margin: 0px 40px 80px 0px;
  padding: 55px 0px 0px 100px;
  font-family: 'Ubuntu Condensed', sans-serif; }

.categories__item:first-child {
  margin-left: 20px; }

.categories__item::before {
  content: '';
  display: block;
  width: 82px;
  height: 65px;
  background: url(../img/numbers.png) 1px 0;
  position: absolute;
  top: 70px;
  left: 5px; }

.categories__item--techno::before {
  width: 92px;
  background: url(../img/numbers.png) -85px 0;
  left: 0; }

.categories__item--car::before {
  width: 92px;
  background: url(../img/numbers.png) 92px 0;
  left: 0; }

.categories__title {
  font-size: 20px;
  color: #2a2b2e;
  text-align: left; }

.categories__title::before {
  content: '';
  display: block;
  width: 37px;
  height: 36px;
  background-image: url(../img/icons.png);
  background-position: 0px 0px; }

.categories__title--techno::before {
  background-position: -38px 0px; }

.categories__title--car::before {
  background-position: -82px 0px; }

.categories__text {
  margin: 20px 0px 20px 0px;
  font-family: 'Arial';
  font-size: 13px;
  color: #8a8a8a; }

.categories__link {
  position: relative;
  text-decoration: none;
  color: #333333; }

.categories__link:hover {
  color: #3399ff; }

.categories__link::after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  background-image: url(../img/icons.png);
  background-position: 16px 24px;
  position: absolute;
  top: 5px;
  right: -17px; }

.categories__link:hover::after {
  background-position: 30px 24px; }

.wrapper--services {
  width: 100%; }

.inner-wrapper {
  position: relative;
  display: block;
  width: 1160px;
  margin: 0 auto; }

.services {
  position: relative;
  display: block;
  width: 100%;
  height: 490px;
  background-color: #333333; }

.services__title {
  position: relative;
  margin: 40px 0px;
  font-family: 'Arial', sans-serif;
  color: #fff; }

.service__item {
  float: left;
  margin: 0px 35px 35px 0px; }

.service__link {
  display: block;
  position: relative; }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-image: url(../img/hover.png);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease; }

.service__item:hover .overlay {
  bottom: 0;
  height: 260px; }

.service__item:hover .service__text {
  color: #ffcc00; }

.service__item:last-child {
  margin: 0px 0px 35px 0px; }

.service__text {
  color: #fff;
  text-align: center;
  margin-top: 35px; }

.wrapper--news {
  width: 100%; }

.news {
  height: 540px;
  background-color: #f7f7f7; }

.news h2 {
  margin: 40px 0; }

.news__item {
  position: relative;
  display: block;
  width: 600px;
  margin-bottom: 30px;
  overflow: hidden; }

.news__image {
  float: left;
  position: relative;
  padding-left: 15px; }

.news__month,
.news__date {
  position: absolute;
  display: block;
  top: 17px;
  left: 0px;
  width: 38px;
  height: 38px;
  font-family: 'Arial', sans-serif;
  color: #fff;
  text-align: center;
  line-height: 38px;
  background-color: #3399ff; }

.news__date {
  top: 55px;
  background-color: #f4b60d;
  color: #000; }

.news__info {
  float: left;
  width: 380px;
  margin-left: 20px;
  font-family: 'Ubuntu Condensed', sans-serif; }

.news__info a {
  text-decoration: none; }

.news__title {
  font-size: 18px;
  color: #2a2d32;
  margin: 0; }

.news__title:hover {
  color: #248cec; }

.news__author,
.news__text {
  font-size: 14px;
  font-family: 'Arial';
  color: #8a8a8a; }

.news__author > span {
  color: #248cec; }

.news__text {
  padding-top: 16px; }

.news__accordion {
  position: absolute;
  top: 0;
  left: 50%; }

.accordion__title {
  margin: 40px 0; }

button.accordion {
  background-color: #fff;
  color: #333333;
  cursor: pointer;
  padding: 20px;
  width: 100%;
  border: none;
  text-align: left;
  text-transform: uppercase;
  outline: none;
  font-size: 15px;
  transition: 0.4s; }

button.accordion.active, button.accordion:hover {
  background-color: #f4b60d; }

button.accordion:after {
  content: '\002B';
  display: block;
  margin: 0px 25px 0px 0px;
  color: #777;
  font-weight: bold;
  float: left; }

button.accordion.active:after {
  content: "\2212"; }

div.panel {
  padding: 0 18px;
  background-color: #f7f7f7;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out; }

.panel p {
  padding: 20px; }

.wrapper--sponsors {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 240px; }

.prefooter {
  display: block;
  width: 100%;
  height: 320px;
  background-color: #2a2d32; }

.prefooter__item {
  float: left;
  width: 263px;
  margin: 0px 35px 40px 0px;
  overflow: hidden; }

.prefooter__item:last-child {
  margin: 0px 0px 40px 0px; }

.prefooter__item h3 {
  color: #fff;
  text-transform: uppercase;
  margin: 60px 0px 35px;
  font-size: 20px;
  font-family: "Ubuntu Condensed"; }

.prefooterMenu__item {
  display: block;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #505052;
  list-style: none; }

.prefooter__link {
  color: #828385;
  text-decoration: none;
  line-height: 40px; }

.prefooter__link:hover {
  color: #2582da; }

.footer {
  display: block;
  width: 100%;
  height: 60px;
  background-color: #35383c; }

.footer a {
  position: relative;
  float: left;
  padding-left: 23px;
  margin: 18px 28px 0px 0px;
  text-decoration: none;
  color: #828385; }

.footer a::before {
  content: '';
  display: block;
  position: absolute;
  top: 1px;
  left: 3px;
  width: 12px;
  height: 18px;
  background-image: url(../img/footer-icons.png); }

a.footer__location::before {
  background-position: 40px 1px; }

a.footer__telephone::before {
  width: 12px;
  background-position: 28.3px 1px; }

a.footer__mail::before {
  width: 16px;
  background-position: 16px 2px; }

a.footer__copyright::before {
  content: '';
  display: none; }

a.footer__copyright {
  float: right; }
