* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', Arial, sans-serif;
}

.wrapper {
  position: relative;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

.header {
  width: 100%;
  height: 90px;
  background: rgb(174,174,174);
  background: -moz-linear-gradient(top, rgb(174,174,174) 0%, rgb(254,254,254) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgb(174,174,174)), color-stop(100%, rgb(254,254,254)));
  background: -webkit-linear-gradient(top, rgb(174,174,174) 0%, rgb(254,254,254) 100%);
  background: -o-linear-gradient(top, rgb(174,174,174) 0%, rgb(254,254,254) 100%);
  background: -ms-linear-gradient(top, rgb(174,174,174) 0%, rgb(254,254,254) 100%);
  background: linear-gradient(to bottom, rgb(174,174,174) 0%, rgb(254,254,254) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aeaeae', endColorstr='#fefefe', GradientType=0 );
  border-bottom: 1px solid #252525;
}

.logo {
  float: left;
  display: block;
  width: 185px;
  margin: 2px 28% 2px 5%;

}

.logo__link {
  display: block;
  width: 185px;
  height: 85px;
}

.logo img {
  display: block;
  width: auto;
  height: 85px;
}

.menu {
  display: inline-block;
  width: 33%;
  float: left;
  line-height: 90px;
}

.menu__item {
  display: inline-block;
  margin-right: 7%;
  list-style: none;
}

.menu__link {
  text-decoration: none;
  font-weight: bold;
  color: #333;
  text-shadow: 0px 1px 1px #fff;
}

.menu__link:hover {
  color: #3c90be;
  transition: 0.3s;
}

.languages {
  float: right;
  display: block;
  width: 108px;
  margin: 3% 5% 2% 0;
}

.languages__link {
  display: inline-block;
  margin-right: 5%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
}

.languages__link img {
  display: block;
}

.slider {
  max-width: 100%;
  height: 350px;
  background: url(../img/slide1.jpg) top left no-repeat;
  background-size: cover;
  border-top: 1px solid #fff;
  box-shadow: 0 4px 5px #555;
}

.main-section {
  width: 100%;
  height: auto;
}

.search {
  position: absolute;
  top: 35px;
  left: 20px;
  width: 250px;
  height: 350px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 1px #ccc;
}

.search__header {
  display: block;
  width: 77px;
  margin: 20px auto;
  padding-bottom: 6px;
  border-bottom: 3px solid #4a409c;
  font-size: 24px;
  color: #778183;
  text-shadow: 1px 1px 0px #fff;
  box-shadow: 0 1px 0px #fff;
}

.select-wrapper {
  width: 200px;
  height: 34px;
  margin: 17px auto;
  border: 1px solid #778183;
  border-radius: 5px;
  overflow: hidden;
  background: url(../img/selector-arrow.png) 95% 54% no-repeat;
  box-shadow: 0 2px 1px #ccc;
}

.search__selector {
  display: block;
  width: 210px;
  padding: 0 0 0 13px;
  background: transparent;
  height: 34px;
  border: 0;
  font-size: 14px;
  font-weight: 100;
  color: #778183;
  -webkit-appearance: none;
  cursor: pointer;
}

.search__selector:focus {
  outline: none;
}

.submit {
  display: block;
  width: 56px;
  height: 22px;
  margin: 30px auto 0;
  border: 1px solid #778183;
  border-radius: 3px;
  color: #778183;
  background: #fff;
  box-shadow: 0 1px 1px #777;
  outline: none;
}

.submit:hover {
  color: #3e90be;
  transition: 0.3s;
}

.submit:active {
  margin-top: 30.5px;
  background: #eee;
  color: #3e90be;
}

.main {
  max-width: 78%;
  height: auto;
  margin: 33px 0 0 271px;
}

.main-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.main__item {
  max-width: 280px;
  height: auto;
  margin: 3px 2% 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: rgb(249, 249, 249);
  box-shadow: 0 2px 1px #ccc;
  overflow: hidden;
}

.main__item a {
  display: block;
  text-decoration: none;
}

.main__item figcaption {
  padding: 2px 0 0 10px;
  color: #99a3b1;
}

.main__item__parameters {
  margin-left: 11px;
  padding-left: 28px;
  font-size: 13px;
  color: #99a3b1;
}

.main__item__parameters--rooms {
  background: url(../img/bed-1.svg) left center no-repeat;
}

.main__item__parameters--bath {
  background: url(../img/bathtub.svg) left center no-repeat;
}

.main__item__parameters--meters {
  background: url(../img/home-1.svg) left center no-repeat;
}

.main__item__preview {
  display: block;
  border-bottom: 3px solid #3e90be;
}

.description {
  display: block;
  width: 260px;
  height: 52px;
  margin: 6px auto 12px;
  color: #99a3b1;
  font-size: 13px;
  font-weight: 300;
  text-shadow: 0 1px 1px #fff;
  overflow: hidden;
}

.main__item__price {
  display: block;
  width: 260px;
  margin: 5px auto;
  padding: 6px 30px 4px 2px;
  font-size: 16px;
  font-weight: 600;
  border-top: 1px solid #ccc;
  text-shadow: 0 1px 0 #ccc;
}

.main__item__info {
  position: relative;
}

.main__item__share {
  position: absolute;
  top: 17px;
  right: 70px;
  width: 15px;
  height: 17px;
  background: url(../img/sprite.png) no-repeat;
}

.main__item__share:hover {
  background-position: 0 -17px;
}

.main__item__like {
  position: absolute;
  top: 14px;
  right: 41px;
  width: 18px;
  height: 20px;
  background: url(../img/sprite.png) -14px 2px no-repeat;
}

.main__item__like:hover {
  margin-top: 2px;
  background-position: -14px -16px;
}

.main__item__add {
  position: absolute;
  top: 13px;
  right: 12px;
  width: 20px;
  height: 20px;
  background: url(../img/sprite.png) -32px 3px no-repeat;
}

.main__item__add:hover {
  margin-top: 4px;
  background-position: -32px -17px;
}

.navigation {
  display: inline-block;
  margin-left: 35%;
}

.navigation__item {
  float: left;
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  border-right: none;
  list-style: none;
  box-shadow: 0 1px 1px #ccc;
}

.navigation__item:active {
  background: #c1c6c7;
  margin-top: 0.5px;
}

.navigation__item a:active {
  color: #3e90be;
  background: #d2d7d8;
}

.navigation__item:hover {
  background: #d2d7d8;
}

.navigation__item--next {
  border-right: 1px solid #ccc;
}

.navigation__link {
  display: block;
  padding: 7px 11px;
  text-decoration: none;
  color: #252525;
  font-size: 12px;
}

.footer {
  width: 100%;
  height: 90px;
  background: #252525;
}


/*   PROPERTY PAGE   */

.header__picture {
  position: relative;
  display: block;
  width: 100%;
  height: 300px;
  margin-top: -10px;
  background: url(../img/nosotros-1.jpg) 50% 50% no-repeat;
  background-size: cover;
  box-shadow: 0 4px 5px #555;
}

.property__main {
  position: relative;
  margin-top: 300px;
}

.about {
  position: absolute;
  top: 20px;
  left: 20px;
  max-width: 70%;
  height: auto;
  padding: 30px;
}

.about__title {
  margin: 0 0 20px 20px;
  font-size: 36px;
  font-weight: 300;
}

.about__text {
  margin-top: 20px;
  color: #555;
  font-size: 19px;
  letter-spacing: 0.4px;
  text-shadow: 0 1px 0px #eee;

}

.employee {
  float: right;
  width: 300px;
  height: 400px;
  margin: 50px 50px 20px 75%;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 0 #ccc;
  overflow: hidden;
}

.employee__link {
  display: block;
  height: 400px;
}

.employee__photo {
  width: 100%;
  height: 170px;
  background: url(../img/nata.jpg) no-repeat;
  background-size: cover;
  border-bottom: 3px solid #3e90be;
}

.employee__name {
  margin-left: 10px;
  color: #3e90be;
  text-shadow: 0 1px 0px #eee;
}

.employee__post {
  margin-left: 10px;
  color: #ccc;
  font-weight: 300;
  font-style: italic;
  text-shadow: 0 1px 0px #eee;
}

.employee__description {
  display: block;
  width: 280px;
  margin: 0 auto;
  color: #777;
  text-shadow: 0 1px 0px #eee;
}

.employee__contacts {
  width: 271px;
  margin: 10px auto;
}

.employee__contacts span {
  display: block;
  margin: 3px 0 5px 0;
  padding-left: 32px;
  color: #3e90be;
  font-size: 14px;
  letter-spacing: 0.3px;
  font-weight: 200;
  text-shadow: 0 1px 1px #ccc;
}

.telephone {
  background: url(../img/telephone.svg) left center no-repeat;
}

.mail {
  background: url(../img/envelope.svg) left center no-repeat;
}

.photo-office__image {
  display: block;
  width: 900px;
  height: 400px;
  margin: 10px auto;
  background: url(../img/slide4.jpg);
  background-size: cover;
  border: 4px solid #eee;
}

.photo-office__text {
  display: block;
  width: 70px;
  margin: 10px auto 30px;
  font-size: 16px;
  color: #777;
  text-shadow: 0px 1px 1px #eee;
}


/*  CONTACTS  */

.main-contacts {
  margin-top: 330px;
}

.main-contacts__title {
  margin: 10px 0 20px 30px;
}

.main-contacts__data {
  width: 500px;
  margin: 10px 0 20px 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid #999;
}

.main-contacts__data h4 {
  padding-bottom: 10px;
  border-bottom: 1px solid #999;
  text-shadow: 0px 1px 1px #eee;
}

.main-contacts__data span {
  display: block;
  margin-bottom: 10px;
  padding-left: 35px;
  text-shadow: 0px 1px 1px #eee;
}

.adress {
  background: url(../img/home-1.svg) left center no-repeat;
}

.myMap {
  margin: 20px 0 10px 30px;
  border: 4px solid #ddd;
}


/*  REFORMS  */

.header__picture--reforms {
  background: url(../img/reformas.jpg) 50% 50% no-repeat;
}

.main-reforms {
  margin-top: 300px;
  width: 100%;
  height: 840px;
}

.about__text--reforms {
  font-size: 16px;
  line-height: 29px;
}

.employee__photo--volodymyr {
  background: url(../img/vladimir.jpg) no-repeat;
  background-size: cover;
}

/*  OBJECT PROPERTY  */

.property__description {
  margin-top: 330px;
}

.property__number__price {
  position: relative;
  max-width: 62%;
  margin: 0 auto;
  padding-bottom: 7px;
  border-bottom: 1px solid #ccc;
}

.property__number {
  float: left;
  color: #555;
  font-size: 36px;
  font-weight: 200;
  text-shadow: 0 1px 0px #eee;
}

.property__price {
  float: right;
  margin-top: 30px;
  color: #3e90be;
  font-size: 20px;
  font-weight: 500;
  text-shadow: 0 1px 1px #555;
  letter-spacing: 0.5px;
}

.property__adress {
  position: relative;
  max-width: 62%;
  height: 82px;
  margin: 0 auto;
  padding-top: 20px;
  border-bottom: 1px solid #ccc;
}

.property__adress__item {
  display: block;
  margin: 10px 0 5px 2px;
  line-height: 15px;
  font-size: 16px;
  color: #aaa;
}

.property__adress__link {
  color: #999;
  cursor: pointer;
}

.property__adress__link:hover {
  color: #3e90be;
}

.carousel {
  width: 800px;
  margin: 20px auto 50px;
  border: 5px solid #999;
  box-shadow: 0 2px 4px #000;
}

.carousel-indicators {
  bottom: 5px!important;
}

.carousel-inner {
  height: 490px;
}

.carousel-inner>.active,
.carousel-inner>.next,
.carousel-inner>.prev {
  margin-top: -76px;
}

.description__text {
  display: block;
  width: 62%;
  margin: 0 auto 10px;
  color: #555;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.5px;
  word-spacing: 2px;
  text-shadow: 0 1px 0 #ccc;
}

.description__text--last {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #ccc;
}

.property__map {
  width: 62%;
  margin: 20px auto;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;

}

.similar-listing__header {
  padding-bottom: 20px;
  text-align: center;
  color: #3e90be;
  letter-spacing: 2px;
  text-shadow: 0 1px 0 #000;
}

.similar-listings {
  width: 76%;
  margin: 0 auto;
}

.similar--item {
  display: inline-block;
}

.red-line {
  width: 400px;
  margin: 50px auto 40px;
  border-bottom: 1px solid red;
  box-shadow: 0 1px 3px #000;
}
