@media only screen and (max-width 479px)

    .wrapper
      max-width 375px
      .slider-container
        img 
          width 100%
          height 200px
        .mySlide
          height 200px
    