@require 'media.styl'


*
  margin 0
  padding 0
  box-sizing border-box

body
  background-color darken(#ffffff, 3%)

input, textarea
  -webkit-appearance none
  -webkit-border-radius 0

.wrapper
  position relative
  margin 0 auto
  padding 0 10px

.overlay
  position absolute
  top 0
  left 0
  bottom 0
  right 0
  background rgb(131,52,216, .3)
  background -moz-linear-gradient(-45deg, rgba(131,52,216, .3) 27%, rgba(158,95,7, .3) 51%, rgba(214,79,79, .3) 80%, rgba(125,119,206, .3) 98%)
  background -webkit-linear-gradient(-45deg, rgba(131,52,216, .3) 27%,rgba(158,95,7, .3) 51%,rgba(214,79,79, .3) 80%,rgba(125,119,206, .3) 98%)
  background linear-gradient(135deg, rgba(131,52,216, .3) 27%,rgba(158,95,7, .3) 51%,rgba(214,79,79, .3) 80%,rgba(125,119,206, .3) 98%)

.header
  width 100%
  height 50px
  background-color #333333
  font-family 'Lato', sans-serif
  .logo
    text-align center
    line-height 50px
    font-weight 100
    color #ffffff
    span 
      font-weight 700
  .menu
    display none
    width 70vw
    padding 30px
    position fixed
    top 0
    right 0
    bottom 0
    background-color rgba(51, 51, 51, 1)
    -webkit-box-shadow inset 6px -8px 68px 6px rgba(0,0,0,1);
    -moz-box-shadow inset 6px -8px 68px 6px rgba(0,0,0,1);
    box-shadow inset 6px -8px 68px 6px rgba(0,0,0,1);
    z-index 1
    list-style none
  .menu__item
    padding 10px
    font-family 'Lato', Arial, sans-serif
    font-size 24px
  .menu__link
    text-decoration none
    color #aaaaaa
    font-family 'Lato'
    font-weight 700
    cursor pointer
    &:hover:active
      color red


  .menu-bar
    width 25px
    height 22px
    position absolute
    top 14px
    right 8px
    border-top 4px solid #656565
    border-bottom 13px double #656565
  input 
    width 25px
    height 22px
  input[type="checkbox"]
    display none
  input[type="checkbox"]:checked ~ .menu
    display block
    animation showUp 0.1s ease
    @keyframes showUp 
      0%
        width 0vw
      100%
        width 70vw

.jumbo-like
  margin 10px 0

.slider-container
  position relative
  width 100%
  .mySlide
    position relative
    text-align center
    background rgb(219,200,244); /* Old browsers */
    background -moz-linear-gradient(top, rgba(219,200,244,1) 0%, rgba(239,103,0,1) 100%); /* FF3.6-15 */
    background -webkit-linear-gradient(top, rgba(219,200,244,1) 0%,rgba(239,103,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background linear-gradient(to bottom, rgba(219,200,244,1) 0%,rgba(239,103,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    border 1px solid #ffffff
    border-radius 10px
    box-shadow 0px 0px 4px #000000
    overflow hidden
    animation changeImage .3s ease
    
      
    .text-slide
      padding 50px
      h2
        padding 10px
        font-size 24px
        font-weight 700
    @keyframes changeImage 
      0%
        opacity 0
      100%
        opacity 1
  .controls
    display flex
    position absolute
    left 38.5%
    bottom 20px
    .controls-button
      display block
      margin-right 4px
      width 23px
      height 8px
      border 1px solid #ffffff
      border-radius 21%
      cursor pointer
      &:focus
        background-color #fff

.about-us
  display block
  margin-top 240px
  padding 5px 17px
  font-family 'Lato', Helvetica, sans-serif
  .about-us__title
    color #8334d8
    text-align center
    font-size 30px
    font-weight 700
    text-shadow 0 1px .3px #555555
  .about-us__text
    display block
    margin 15px 0
    line-height 23px
    color #333
    letter-spacing .5px
    word-spacing 2px
    font-weight 300
    font-style italic
    font-size 18px
  .about-us__button
    display block
    width 90px
    margin 0 auto
    padding 5px
    background-color #8334d8
    font-family 'Lato'
    color #ffffff
    font-size 16px
    border none
    border-radius 5px
  .about-us__button:active, .about-us__button:focus
    outline none !important
    box-shadow none


.topProduct
  padding 5px

  .topProduct__title
    margin 10px 0px
    padding-left 10px
    font-family 'Lato', sans-serif
    font-weight 300
    background-color #eeeeee
  .products
    display grid
    grid-template-columns repeat(2, 1fr)
    .products__item
      position relative
      display grid
      align-content center
      width 170px
      height 170px
      background-position 50% 0
      background-size cover
      margin 5px auto
      span
        font-family 'Lato', sans-serif 
        font-size 24px
        color #ffffff
        font-weight 100
        text-align center
        z-index 10


.subtitle
  text-align center
  font-family 'Lato', sans-serif
  font-size 75px
  font-weight 300
  line-height 40px 
  overflow hidden

.footer
  width 100%
  height 40px
  background-color #fff
