extends ../blocks/main

block content
  button.button(type="button") Add a word

  input.power(type="button", value="power")

  input.friend(type="button", value="find a friend")

  


  //- //////////////////////////////////////////////
  script(src="js/tasks.js")
  script(src="js/tasks2.js")
  script(src="js/script2.js")