@font-face
  font-family Roboto 
  font-style: light
  src url(../fonts/Roboto-Light.ttf)

// font-family: 'Lobster', cursive;
// font-family: 'Pacifico', cursive;
// font-family: 'Amatic SC', cursive;
// font-family: 'Great Vibes', cursive;

bg_color = #333333

text = #eeeeee
textHover = #ffffff
oorange = #965f1b