<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/style.css">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script src="js/jquery.carousel.js"></script>
  <script src="js/tmpl.js"></script>
  <script src="js/script.js"></script>
  <title>Document</title>
</head>
<body>
  <h1 class="title">карусэл карусэл</h1>
  <div class="wrapper">
    <a href="#"><div class="arrow arrow--left"></div></a>
    <div class="overlay">
      <ul class="carousel">
        <li class="carousel__item"><img class="carousel__image" src="img/_CSC3250.JPG" alt="pic"><a class="item__link" href="#"></a></img></li>
        <li class="carousel__item"><img class="carousel__image" src="img/_CSC3314.JPG" alt="pic"><a class="item__link" href="#"></a></img></li>
        <li class="carousel__item"><img class="carousel__image" src="img/_CSC3630.JPG" alt="pic"><a class="item__link" href="#"></a></img></li>
        <li class="carousel__item"><img class="carousel__image" src="img/_CSC3632.JPG" alt="pic"><a class="item__link" href="#"></a></img></li>
        <li class="carousel__item"><img class="carousel__image" src="img/_CSC3634.JPG" alt="pic"><a class="item__link" href="#"></a></img></li>
        <li class="carousel__item"><img class="carousel__image" src="img/_DSC0147.JPG" alt="pic"><a class="item__link" href="#"></a></img></li>
      </ul>
    </div>
    <a href="#"><div class="arrow arrow--right"></div></a>
  </div>
  <section class="target">

  </section>
  <script type="text/html" id="test">
    <h1><%= name %></h1>
      <!-- <p class="student"><%= education %></p>
      <div class="becauseOf">
        <h3>Хочу учить front-end потому что:</h3>
      </div>
      <div class="list1">
        <ul>
          <% reasons.forEach(function(item) { %>
            <li><%- item %></li>
          <% }); %>
        </ul>
      </div>
      <div class="telefono">
        <h3>Номер моего телефона:</h3>
      </div>
      <div class="numero">
        <p><%= telephone %></p>
      </div> -->
  </script>
</body>
</html>
